*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 900px 60px ;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
    

}

.cuadro{
    background-color: rgb(172, 10, 10);
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
}
.navbar{
    background-color: black;
 }
.nav-link{
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: gray;
}

.nav-link:focus, .nav-link:hover{
    color: gray;

}
.navbar-toggler-icon{
    background-image: url("../imagenes/menu.png") ;
}


 header ul{
    display: flex;
    align-items: center;
    margin-right: 50px;  
    padding: 0;
    color: whitesmoke ;
    list-style-type: none;
    font-family: "Open Sans";       
    
}

.navegacionTop a {
    color: white;
    text-decoration: none;
    padding: 10px;   
}

.logo{
    padding: 20px;
}

header{
    width: 100%;
    background-color: black;   
    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;


}


main {   
    display: flex;        
    width: 100%;        
    grid-area: main;
    background-image: url("../imagenes/fondoMain.jpg");
}

footer{
    padding-left:  10px;
    width: 100%;
    color: white;
    background-color: black;
    grid-area: footer;

}
.contenidoFormulario{
    background-color: rgb(201, 223, 5);
    width: 250px;
    height: 480px;    
    padding: 20px;
    
}
.tituloForm {
    
    list-style-type: none;
    font-family: "Open Sans";
    padding: 10px;

}


.formulario{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
    padding: 10px;
    
}


.campoForm{
    margin: 5px;
    
}
.sectionInicio{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
}

.titulillo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:yellow;                
    font-family: "Rowdies";
    font-size: 30px;
    
}

li {
    display: inline;
}


.redesMini{
    width: 50px;
    height: 50px;

}



footer p{
    display:inline ;
}

footer{
    display: flex;
    justify-content: space-between;
}

.tarjetas{
    padding: 10px;
    margin-top: 200px; 
    margin-left: 20px;
    background-color: lightgrey;    
    height: 350px;
}

.grupoMuscular{
    padding-top: 10px;
    padding-left: 25px;
    width: 250px;
}
.galeria{
    display: flex;
    flex-wrap: wrap;

}
.fotoVideo{
    margin: 50px;
    display: inline-block;
    width: 400px;
    height: 200px;
    border-color: greenyellow;
    border: 2px;
    border-style: dashed;
}      


.logoContacto {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;    
    
}
.whatsapp{ 
    
    position: sticky;
    bottom: 50px; 
    width: 75px;
    height:75px;
}

@media (max-width: 480px){
    .redesMini{
        width: 30px;
        height: 30px;
    }
    .whatsapp{
        width: 50;
        height: 50;
    }
}  

